*
{
    margin: 0;
    padding: 0;
}

body {
    /*padding: 25px;*/
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  .dark {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars {
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler {
    outline: none !important;
}
/*Dropdown*/
.fa-user {
    font-size: 30px !important;
    color:  #1c0c24;
}
.dropbtn {
    background-color: #fff0;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #751fa0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
      background-color: #ddd;
    }
.dropdown:hover .dropdown-content {
      display: block;
    }
.dropdown:hover .dropbtn {
      background-color: #5f1782;
    }

/*---------------banner section---------------*/
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}
.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn {
    width: 45px;
    margin: 20px;
}
#banner a {
    color: #fff;
    text-decoration: none;
}
.bottom-img {
    width: 100%;
}
/*--------------- Courses Section ---------------*/
#courses {
    padding: 80px 0;
}
.courses-img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
.courses {
    padding: 20px;
}
.courses {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after {
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#courses .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
#courses .btn-primary:hover {
    background-color: #a517ba, #5f1782
}

#courses .btn-primary:active {
  background-color: #a517ba, #5f1782;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}
.a:link {
    color: #e88cf7;
  }
  
.a:visited {
    color: #00FF00;
  }
  
.a:hover {
    color: #fff;
  }
.more {
    text-align: center;
    color: #5f1782;
    font-size: 75px;
}
.more0 {
    text-align: center;
    color: #5f1782;
    font-size: 75px;
}
.par {
    font-size: 50px;
}
/* --------------- Trainers ---------------*/
#trainers {
    margin: 100px 0;
}
.trainers {
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.trainers img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin: 0 10px;
}
.user-details {
    display: inline-block;
    font-size: 12px;
}
/*--------------- Social Media Section ---------------*/
#social-media {
    /*background-color: #f8f9fa;*/
    padding: 100px;
}
#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img {
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img {
    transform: translateY(-10px);
}
/*--------------- Footer Section ---------------*/
#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
.footer-img {
    width: 100%;
}
.footer-box {
    padding: 20px;
}
.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.footer-box .from-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
hr {
    background-color: #fff;
}
.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
textarea {
    width: 700px;
    height: 200px; 
    border: 2px solid;
    padding: 20px; 
}
#myFunction0 {
    width: 200px;
    height: 100px; 
    display: block;
    margin : 0 auto;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
